* {
  box-sizing: border-box;
}

.header {
  font-size: 60px;
  color: purple;
  text-align: center;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 30px;
}

ul,
ol {
  font-size: 18px;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.image {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.image-index {
  width: 500px;
}

.image-applejack {
  width: 600px;
}

.image-awesomepasta {
  width: 450px;
}

.image-cookies {
  width: 430px;
}

.section {
  font-size: 35px;
  color: black;
  font-weight: 600;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 600px;
}

.para {
  font-size: 18px;
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.return {
  margin-top: 50px;
  margin-bottom: 50px;
}